.d1{
    background-color: tan;
    color: white;
    padding: 10px;
    text-align: center;
}
/* .seude{
    background-color: darkcyan;
    padding: 0px;
    padding-bottom: 30px;
    z-index: 10;
} */
.banner{
    padding-bottom: 95px;
}
.btn{
    position: absolute;
}